/*pantalla up 2*/

body{
      margin: 0%;
       background-color: rgb(31, 31, 90);
       min-height: 100%;
       font-size: 18px;
       font-family: Arial, Helvetica, sans-serif;
       color: aliceblue;
       
   
   }
   .mainbackgroundsectionup{
      margin: -10px;
      padding: 0;
      background-size: 100%;
      background-image: url("Castle_in_the_Sky.webp");
      background-position: 1em -5cm;
      height: 550px;
      border-bottom-right-radius: 90px;
      border-bottom-left-radius: 90px;
   }

   .mainbackground_down{
     
      width: 700px;
      padding: 90px;
    
   }  
   
   .form_label{
      float: left;
      margin: 15px;
   }
  
   .titulo_pelicula{
  
    position: absolute;
    left: 600px;
    top: 250px;
    background-position: 1em -20cm;
  
     font-size: 5em;
     font-family: Arial, Helvetica, sans-serif;
     color: aliceblue;
     font-weight: bold;
     text-shadow: 0px 8px 12px rgb(0, 0, 0)
     
  }

  /* personajes */
  .personajes-container{
    padding: 6%;
  }


.avatar-personajes {
    display: flex;
    gap: 26px;
  }

  .avatar{
    background-color: aqua;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .avatar img {
    width: 100%;
    height: auto;
   }


  
   /* locaciones */
   .locacion-container {
    padding: 6%;
    border-top-right-radius: 100px;
  }
  .locacion-container img {
    
    width: 150px;
  }

  .descripcion-txt{
   display: flex;
   width: 40%;;
  }

  /* Pagina Inicio */
 .fondo-inicio{
  position: relative;
  z-index: -1;

 }

  .logo-inicio{
  margin:20%;
  position: relative;
  top: -77em;

  }

  .navbar-inicio{
    
      overflow: hidden;
      background-color: rgb(10, 28, 85);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 20%;
  }

  .navbar-inicio a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
  }
  
  .navbar-inicio a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  /* .navbar-inicio a.active {
    background-color: #6a6b5b;
    color: white;
  } */
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }

  .menu-active{
    margin: auto;
    position: fixed;
    left: 45%;
    
  }



  /* PERSONAJES */
  /* .personajes{

    position: relative;
    left:50%;
    bottom: -17em;
  } */
  .avatar2{
      
      background-image: url(https://static.wikia.nocookie.net/studio-ghibli/images/f/f2/Satsuki_Kusakabe.jpg);
      background-size: 100%;
      position: relative;
      right: 11%;

      width: 700px;
      height: 600px;
      overflow: hidden;
      border-bottom-right-radius: 70%;
      
    
  }

  .main-personajes{
   position: relative;
   

  }