@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, Helvetica, sans-serif;

}
.main-container {
  text-align: center;
  background-image: url("img/nubes.jpg");
  background-size: cover;
  overflow: hidden;

  
}
.buscador img {
  padding-top: 50px;
}


.contenedor-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
}

.movies {
  width: 350px;

  

}

.movies img {
  width: 320px;
  height: 530px;
  border-radius: 20px;
  object-fit: cover;
}


/*navbar destokp*/
nav {
  display: flex;
  justify-content: space-between;
 
  background-color: rgba(24, 195, 207, 0.148);
  position: fixed;
  width: 100%;
  


}

.menu {
  display: none;
}
.menu:hover{
  color: rgb(255, 255, 255);
}

.logo {
  width: 150px;
  display: none;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  
}

.navbar-left {
  display: flex;
  
}

.navbar-left ul {
  margin-left: 12px;
  
}

/* NAV LETRAS */

.navbar-left ul li ,
.navbar-right ul li {
  
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  text-shadow: 0px 8px 12px rgb(0, 0, 0)
  
}

.navbar-left ul li:hover,
.navbar-right ul li:hover {
  color: #f802ec;
}

.navbar-search {
  color: #ffffff;
  font-size: 16px;
  margin-right: 12px;
 
  text-shadow: 0px 0px 0px rgb(0, 0, 0)

}

.navbar-shopping-cart {
  position: relative;
}



/* navbar */

.img-movie {
  border-radius: 18px;
}

.searchbtn {
  position: relative;
  padding: 25px;
  width: 90%;
  height: 55px;
  border: none;
  background: #f5e9ffb1;
  border-radius: 13px;
  color: rgb(255, 250, 250) ;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 70px;
 
  
  
}


/* movile navbar*/
.mobile-menu {
  position: absolute;
  top:90px;
  padding: 34px;
  background:  #00000025;
}

preguntas
.oculto {
  left: -50px;
  transform: translateX(-200px);
  transition: transform 300ms;
}
.activo {
  transform: translateX(-200px);
  transition: transform 200ms;
}

.mobile-menu li {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;


  /* margin-bottom: 24px; */
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid #F7F7F7;
}
.mobile-menu ul li {
  margin-bottom: 24px;
}

/* banner movies 2*/


/* End Reset */ 

.nowrap {
  white-space: nowrap;
}

.dowrap {
  white-space: nowrap;
  color:#348ada;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.container-banner {
  background-image: url(./img/banner-movie.jpg);
  background-size: cover;
  overflow: hidden;
}

.life {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
  padding-top: 100px;
  padding-bottom: 50px;
 
}

.life .h1 {
  font-size: 370%;
  color: #FFF;
  text-shadow: 1px 1px 2px pink;
  margin-right: 15%;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 8px 12px rgb(0, 0, 0)

}

.profile-pic {
  width: 25%;
  margin-right: 8%;
}

.profile-pic img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double #76bcf5 ;
  border-image: linear-gradient(#97b8e4, #074176) 60;
  display: block;
}

.container-movies_descripcion {
  background-color:   #03053af0;
  color: #F7F7F7;
}

.mainbackground_down{

}

.form_ranking img {
  width: 30px;
}

.form_año img {
  width: 30px;
}


/*descripcion*/
.form_director{
  margin-left: 100px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  font-size: 30px;
}
  
  .form_ranking .label-ranking {
    color: green;
  }

  .description-movie{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }


 /* personajes */

 .personajes-container{
  padding: 6%;
}

.avatar-personajes {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
}

.avatar img{
  border-radius: 50%;
 
  width: 200px;
  height: 200px;
}

.avatar {
  position: relative;
  overflow: hidden;
 }

 .avatar p {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
 }


/*locacion containerr */

.locacion-container{
  width: 100%;
  overflow: hidden;
}

.slider-contenedor{
  width: 100%;
  display: flex;
}

.contenido-slider{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(2){
  background: #332863;
  color: #fff;
}

.contenido-slider:nth-child(3){
  background: #611a68;
}

.contenido-slider > img{
  width: 300px;
}

.contenido-slider > div{
  width: 40%;
}

.contenido-slider h2{
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}



.contenido-slider:nth-child(2) a{
  background: #fff;
  color: #332863;
  
}
.vehiculos-container {
 
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.vehiculos-container .img-vehiculo {
  width: 40%;
  margin-left: 20%;
  margin-right: 50px;
}

.img-vehiculo img {
  width:100% ;

}
.descripcion-vehiculo{
  margin: 50px 20px;
}

@media screen and (max-width:900px){
  .contenido-slider > img{
      width: 250px;
  }

  .contenido-slider > div{
      width: 40%;
  }

  .contenido-slider h2{
      font-size: 23px;
  }
}


@media screen and (max-width:600px){
  .contenido-slider{
     flex-direction: column-reverse;
  }

  .contenido-slider > div{
      width: 80%;
  }

}


@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .logo {
    display: block;
  }
  .buscador{
    display: none;
  }
  .navbar-left ul {
    display: none;
  }

  .navbar-search {
    display: none;
  }
  
}
@media (min-width: 641px) {
 .mobile-menu{
  display: none;
 }
}

a:link {
  text-decoration: none;
  
}
/* pantalla up 2


body{
      margin: 0%;
       min-height: 100%;  
   }
  

  /* Pagina Inicio */


  
  .fondo-inicio{
    position: relative;
    top: -490px;
    z-index: -1;
    
    
   }
   .logo-inicio{
    
    position: relative;
    left: 20%;
    bottom: -70px;
  }
  
  
    .navbar-inicio{
      
        overflow: hidden;
        background-color: #00000039;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 20%;
        
    }
  
    .navbar-inicio a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 60px;
    }
    
    .navbar-inicio a:hover {
      background: #f1f1f1;
      color: black;
    }
    
     .navbar-inicio a.active {
      background-color: #6a6b5b;
      color: white;
    } 
    
    .main {
      padding: 16px;
      margin-bottom: 30px;
    }
  
    .menu-active{
      margin: auto;
      position: relative;
      left: 43%;
      
    }
  
    .menuinicio{
      background-image: url(img/menu1.png)
     
    }
  
    
    
  /* //personajes */
  
    .avatar2{
        background-image: url(https://static.wikia.nocookie.net/studio-ghibli/images/f/f2/Satsuki_Kusakabe.jpg);
        background-size: 100%;
        position: relative;
        right: 11%;
        z-index: -2;
        width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 50%;
    }
  .fondo-personajes{
    position: relative;
    z-index: -1;
  
  }
    .main-personajes{
    
    position: relative;
    top: 100%;
    height: 60%;
    width: 200%;
    margin: 50px;
    padding: 70px;
    align-items: center;
   
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background-color: #ff74f3;
    border-radius: 50px;

    
    
    
  
    }