
body{
      margin: 0%;
       min-height: 100%;  
   }
  

  /* Pagina Inicio */


  
 .fondo-inicio{
  position: relative;
  top: -490px;
  z-index: -1;
  
  
 }
 .logo-inicio{
  
  position: relative;
  left: 20%;
  bottom: -70px;
}


  .navbar-inicio{
    
      overflow: hidden;
      background-color: #00000039;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 10%;
      
  }

  .navbar-inicio a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60px;
  }
  
  .navbar-inicio a:hover {
    background: #f1f1f1;
    color: black;
  }
  
   .navbar-inicio a.active {
    background-color: #6a6b5b;
    color: white;
  } 
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }

  .menu-active{
    
    position: relative;
    bottom: -12px;
    left: 43%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .menuinicio{
    background-image: url(img/menu1.png)
   
  }
  /* //quitar forma enlace link menu movies */
  .peliculas-text{
    text-decoration:none;
  }
  
  /* //quitar enlace link menu movies */
  
/* //personajes */

  .avatar2{
      background-image: url(https://static.wikia.nocookie.net/studio-ghibli/images/f/f2/Satsuki_Kusakabe.jpg);
      background-size: 100%;
      position: relative;
      right: 11%;

      width: 700px;
      height: 600px;
      overflow: hidden;
      border-bottom-right-radius: 70%;
  }
.fondo-personajes{

  position: relative;
 
  z-index: -1;

}
  .main-personajes{
  
  position: relative;
  margin: 20px;
  padding: 70px;
  align-items: center;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-color: #00000039;
  border-radius: 50px;
  
  
  

  }


  .no-sub{


  }