@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  text-align: center;
  background-color: #6AAED4;
  /* background-image: url("img/nubes.jpg");
  background-size: cover; */
  overflow: hidden;
}

.buscador img {
  padding-top: 50px;
  position: fixed;
}

.contenedor-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
}

.movies {
  width: 450px;
}

.movies img {
  width: 420px;
  height: 530px;
  border-radius: 30px;
  object-fit: auto;
}

.studio_logo {
  margin: 3em;
  width: 680px;
  height: 330px;

}


/*navbar destokp up*/

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 55, 59, 0.264);
  width: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
  padding-top: 20px;
  position: fixed;
  height: 5%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.527);
}

.navbar li a {
  text-decoration: none;
  color: #f2f2f2;
  width: 100%;
  margin-left: 100%;


}

.iconosSort {
  align-items: center;
  position: relative;
  right: 10em;
  bottom: 6em;


}


.sort1 {
  position: absolute;
  width: 30px;
  height: 30px;
  justify-content: left;
  right: 90px;
  top: 3px;

}

.sort2 {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 40px;
  bottom: 3px;
}


.directorProductor {
  position: relative;
  justify-content: space-between;
  bottom: 60px;
  right: 24%;

}

/* DIRECTOR BUSCADOR */
.director {
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 6, 6);
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
}

/* PRODUCTOR */
.producer {
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
}

.opciones2 {
  border-start-end-radius: 50%;
  writing-mode: vertical-rl;
}

.menu {
  display: none;
}

.menu:hover {
  color: rgb(179, 59, 59);
}

.logo {
  width: 250px;
  display: none;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 60px;
  text-align: center;

}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li,
.navbar-right ul li {

  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  text-shadow: 0px 5px 10px rgb(0, 0, 0)
}

.navbar-left ul li:hover,
.navbar-right ul li:hover {
  color: #ffffff;
}

.navbar-search {
  color: #ffffff;
  font-size: 16px;
  margin-right: 22px;

}

.navbar-shopping-cart {
  position: relative;
}

/* end navbar */




/* Buscador*/

.searchbtn::placeholder {
  color: rgba(20, 18, 18, 0.419);
  font-size: 1.2em;
  font-style: italic;

}

.searchbtn img {
  width: 10px;
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon {
  left: unset;
  right: 12px;
}

.main-container {
  text-align: center;
  /* background-image: url("img/nubes.jpg");
  background-size: cover; */
  background-color: #6AAED4;
  overflow: hidden;
}

.buscador {
  justify-content: center;
}

.buscador img {
  padding-top: 50px;
}

.contenedor-movies {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: space-evenly;
  margin-left: 8%;
  margin-right: 8.5%;
}

.movies {
  width: 350px;
}

.movies img {
  width: 90%;
}

.img-movie {
  border-radius: 10px;
  box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.527);
}

.searchbtn {
  position: relative;
  padding: 20px;
  width: 80%;
  height: 50px;
  border: none;
  background: #ffffffdd;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 5%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
}


/* movile navbar*/
.mobile-menu {
  position: relative;
  top: 90px;
  padding: 34px;
  background: #00000025;
}

.oculto {
  left: -50px;
  transform: translateX(-200px);
  transition: transform 300ms;
}

.activo {
  transform: translateX(-200px);
  transition: transform 200ms;
}

.mobile-menu li {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid #F7F7F7;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

/* End Reset */


/* PAGINA2 */
/* banner movies 2*/


/* End Reset */

.nowrap {
  white-space: nowrap;
}

.dowrap {
  white-space: nowrap;
  color: #348ada;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.container-banner {
  /*https://i.pinimg.com/564x/88/15/7f/88157f51a7130456867ffadbdcf69d77.jpg*/
  /* background-image: url(./img/fondo4b.jpg); */
  background-size: cover;
  background-color: #f074bc;
  overflow: hidden;
}

.life {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.life .titleMovie {
  margin-right: 60px;
  margin-left: 10%;
  background-color: #6a6b5b54;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
  padding: 4%;
  border-radius: 20px;
}

.life .titleMovie h1 {
  font-size: 60px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  margin-bottom: 20px;

  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 8px 12px rgb(0, 0, 0);
  text-align: center;
}

.profile-pic {
  width: 50%;
  margin-right: 10%;


}

.profile-pic img {

  width: 100%;
  height: auto;
  margin-top: auto 30px;
  min-width: 300px;
  display: block;
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);

}

.container-movies_descripcion {
  background-color: #03053af0;
  color: #F7F7F7;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);

}

.form_ranking img {
  width: 30px;
}

.form_año img {
  width: 30px;
}


/*descripcion*/
.mainbackground_down {
  background-color: rgba(15, 19, 85, 0.3);
  padding: 10px 0px;
}

.form_director {
  margin-left: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3%;
  font-size: 30px;
}

.form_director div {

  padding: 30px;
  border-bottom: 4px solid #f2f2f2;
}

.form_director div:hover {
  background-color: #19191949;
  border-bottom: 4px solid #f7f773;
}

.form_ranking .label-ranking {
  color: rgb(241, 230, 12);

}




/* personajes */

.personajes-container {
  padding: 6%;
  background-color: #A6DA8E;
}

.avatar-personajes {

  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
}

/* avata imagenes */
.avatar img {

  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.527);

}

.avatar {
  position: relative;
  overflow: hidden;
}

.avatar p {
  color: #fff;
  font-size: 19px;
  font-weight: bold;

}


h2 {

  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;

  margin: 1%;

}

h3 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  margin: 3%;
  padding: 0%;
  font-size: 30px;
  text-align: center;
}

/*locacion containerr */
.locaciones-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #d37dcf;
  padding: 5%;
}

.locaciones-contenedor .contenido-locacion img {
  width: 400px;
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin: 10%;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
  display: inline-block;

}


@media screen and (max-width:900px) {
  .contenido-slider>img {
    width: 250px;
  }

  .contenido-slider>div {
    width: 40%;
  }

  .contenido-slider h2 {
    font-size: 23px;

  }
}


@media screen and (max-width:600px) {
  .contenido-slider {
    flex-direction: column-reverse;
  }

  .contenido-slider>div {
    width: 80%;
  }

}


@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .logo {
    display: block;
  }

  .buscador {
    display: none;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-search {
    display: none;
  }

  .avatar2 {
    display: none;
  }

}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }

  .avatar2 {
    display: flex;
  }
}

a:link {
  text-decoration: none;

}

/* pantalla up 2


body{
      margin: 0%;
       min-height: 100%;  
   }
  

  /* Pagina Inicio */

.container-inicio {
  background-color: #f074bc;
  background-size : 10%;
}

.fondo-inicio {
  background-color: #f074bc; 
   position: relative; 
}  

.logo-inicio {

  position: relative;
  left: 20%;
  bottom: -70px;
}


.navbar-inicio {

  overflow: hidden;
  background-color: #00000039;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;

}

.navbar-inicio a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60px;
}

.navbar-inicio a:hover {
  background: #2c11c8;
  color: rgb(0, 0, 0);
  border-radius: 50%;
}

.navbar-inicio a.active {
  background-color: #6a6b5b;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.menu-active {
  margin: auto;
  position: relative;
  left: 43%;
}

.menuinicio {
  background-image: url(img/menu1.png)
}



/*  modales */
.main-personajes {

  position: relative;
  top: 100%;
  height: 60%;
  width: 200%;
  margin: 50px;
  padding: 70px;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-color: #f074bc;
  border-radius: 30px;


}

/*loader */
.loader {
  background: #f074bc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  animation: loader 2s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.8s;
}

.loader div:nth-child(2) {
  animation-delay: 0.10s;
}

.loader div:nth-child(3) {
  animation-delay: 0.12s;
}

@keyframes scaling {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1)
  }

  50% {
    transform: scale(1)
  }

  100% {
    transform: scale(0.2)
  }
}


/* MODAL */

#myBtn {

  position: absolute;
  background-size: 100%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}


.modal {
  display: none;
  position: fixed;
  z-index: 0;
  padding-top: 100px;
  /* Location of the box */
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* transparencia */
}

/* Modal Content forma*/
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-color: #A6DA8E;
  border-radius: 30px;
  margin: 10%;
  padding: 5%;
  width: 40%;
  height: 60%;

  /* top: 20px; */

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* boton cerrado */
.close:hover,
.close:focus {
  color: aqua;
  text-decoration: none;
  cursor: pointer;
}

.avatar2 {
  position: relative;
  left: 30%;
  background-size: 90%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.527);
}


.promedio {
  background-color: auto #6AAED4;
  padding: 5%;
}


.footer-us {
  overflow: hidden;
  background-color: #25242449;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
}

.footer-descripcion {
  font-family: Arial, Helvetica, sans-serif;
  color: #fffcfc;
  font-size: 18px;
  padding-left: 65%;
  text-shadow: 0px 3px 3px rgb(0, 0, 0)
}